.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 180px);
  padding: 0 6rem;
}
.landing .left {
  position: relative;
  width: 50%;
}
.landing .left .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 380px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(125deg, #272727 0%, #11101D 100%);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.landing .left .discount:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.landing .left .discount p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.landing .left .discount p svg {
  margin-right: 10px;
  color: var(--cyan-color);
  font-weight: bold;
  font-size: 20px;
}
.landing .left .discount p div {
  color: rgba(255, 255, 255, 0.6);
}
.landing .left .discount p div span {
  color: white;
}
.landing .left .desc h1 {
  font-size: 50px;
}
.landing .left .desc h1 span {
  color: var(--cyan-color);
}
.landing .left .light {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 195px;
  height: 324px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 324px;
  background: #FFF;
  -webkit-filter: blur(225px);
          filter: blur(225px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .left .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0px;
  top: 70px;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #5CE1E6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.landing .left .btn:hover {
  background-color: #5CE1E6;
}
.landing .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .right img {
  max-width: 100%;
  max-height: 70vh;
}

@media screen and (max-width: 767px) {
  .landing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem 1rem;
  }
  .landing .left {
    width: 100%;
  }
  .landing .left .discount {
    width: 100%;
    font-size: 15px;
  }
  .landing .left .desc h1 {
    font-size: 40px;
  }
  .landing .left .btn {
    right: 0;
    top: 15%;
  }
  .landing .right {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .landing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem 1rem;
  }
  .landing .left {
    width: 100%;
  }
  .landing .left .desc h1 {
    font-size: 40px;
  }
  .landing .left .btn {
    right: 0;
  }
  .landing .right {
    display: none;
  }
}