.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 6rem;
  gap: 40px;
}
.partners img {
  height: 60px;
  aspect-ratio: 16/6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 767px) {
  .partners {
    padding: 0rem 1rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .partners {
    padding: 0rem 1rem;
  }
}