$padding-xl : 3rem 6rem; 
$padding-sm : 0 1rem;
.business{
    padding: $padding-xl;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2{
            font-size: 40px;
            margin-bottom: 15px;
        }
        p{
            color: rgba(255, 255, 255, 0.7);
            font-size: 18px;
            line-height: 30px;
        }
        button{
            width: 170px;
            height: 64px;
            flex-shrink: 0;
            border-radius: 10px;
            background: linear-gradient(158deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border: 0;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
        }
    }
    .right .feature{
        user-select: none;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        padding: 15px;
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        &:hover{
            transform: translateX(5px);
            -webkit-transform: translateX(5px);
            -moz-transform: translateX(5px);
            -ms-transform: translateX(5px);
            -o-transform: translateX(5px);
}
        &:nth-child(2){
            border-radius: 20px;
            background: linear-gradient(153deg, rgba(255, 255, 255, 0.00) -341.94%, #14101D 95.11%);
            box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.10);
        }
        &:last-child{
            margin-bottom: 0;
        }
        .left svg{
            color: #00F6FF;
            background-color: #09977C1A;
            font-size: 20px;
            padding: 15px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-right: 15px;
        }
        .right{
            h4{
                margin: 0 0 10px 0;
            }
            p{
              color: rgba(255, 255, 255, 0.7);  
              font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .business{
        padding: $padding-sm;
        flex-direction: column;
        gap: 50px;
        .left{
            h2{
                font-size: 30px;
            }
            p{
                margin-bottom: 30px;
                font-size: 13px;
                width: 80%;
            }
        }
    }
}
@media screen and (min-width: 767px) and (max-width:1023px){
    .business{
        padding: $padding-sm;
        flex-direction: column;
        gap: 50px;
        .left{
            h2{
                font-size: 30px;
            }
            p{
                margin-bottom: 30px;
                font-size: 13px;
                width: 80%;
            }
        }
    }
}